{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "implicit-arrow-linebreak": "off",
    "operator-linebreak": "off",
    "react/jsx-props-no-multi-spaces": "off"
  }
}
