<title>מה אתה מעדיף? - גרסת דפדפן</title>

<meta name='description' content='מה אתה מעדיף? משחק השאלות המהנה והממכר שכולו העדפה - עכשיו בגרסת דפדפן!'>

<link rel='manifest' href='manifest.json'>
<link rel="author" href="humans.txt">

<!-- Meta -->
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
<meta name='application-name' content='מה אתה מעדיף'>
<meta name="mobile-web-app-capable" content="yes">
<link rel="shortcut icon" href="/touch/favicon.ico">

<!-- Apple -->
<meta name='apple-mobile-web-app-capable' content='yes'>
<meta name='apple-mobile-web-app-status-bar-style' content='black'>
<meta name='apple-mobile-web-app-title' content='מה אתה מעדיף'>
<link rel="apple-touch-icon" sizes="180x180" href="/touch/apple-touch-icon.png">
<link rel="mask-icon" href="/touch/safari-pinned-tab.svg" color="#5bbad5">

<!-- Microsoft -->
<meta name="msapplication-config" content="/touch/browserconfig.xml">
<link rel="mask-icon" href="/touch/safari-pinned-tab.svg" color="#5bbad5">

<meta name="theme-color" content="#424242">
<link rel="icon" type="image/png" sizes="32x32" href="/touch/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/touch/favicon-16x16.png">

<!-- Twitter Card data -->
<meta name="twitter:card" value="מה אתה מעדיף? משחק השאלות המהנה והממכר שכולו העדפה - עכשיו בגרסת דפדפן!">

<!-- Open Graph data -->
<meta property="og:title" content="מה אתה מעדיף? - גרסת דפדפן" />
<meta property="og:type" content="game" />
<meta property="og:url" content="https://youprefer.co.il/" />
<meta property="og:image" content="/touch/apple-touch-icon.png" />
<meta property="og:description" content="מה אתה מעדיף? משחק השאלות המהנה והממכר שכולו העדפה - עכשיו בגרסת דפדפן!" />